{% extends 'core/bases/basePortal.html' %}
{% load static %}

{% block body %}
<div id="wrapper" class="clearfix" style="background-color: #fff;">
    {% include 'core/elementos/barraDeBusca.html' %}

    <section id="content">
        <div class="content-wrap nopadding">
            <div class="section nopadding nomargin"
                 style="width: 100%; height: 100%; opacity : 0.75; position: absolute; left: 0; top: 0; background: url({% static '/assets/site1/images/logo/fiepi_fundo.jpeg' %}) center center no-repeat; background-size: cover;"></div>
            <div class="section nobg full-screen nopadding nomargin">
                <div class="container-fluid vertical-middle divcenter clearfix">
                    <div class="card divcenter noradius noborder"
                         style="max-width: 900px; background-color: rgba(255,255,255,0.93);">
                        <div class="card-body" style="padding: 40px;">
                            <h3 style="text-align: center">Sua colicitação de senha será enviada para seu email.</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% include 'core/elementos/rodape.html' %}

    <script>
        setTimeout(function(){location.href="/logout"}, 4000);
    </script>

</div>
{% endblock %}

