<div class="content-wrap" style="padding: 40px 0;">
    <div class="container clearfix">
        <img src="/static/assets/site1/images/logo/fiepi_top_2.jpeg">
        <div class="card">
            <div class="card">
                <div class="card-body">
                    <div style="margin: 5px;">
                        <h5><span>Status</span>: On-line</h5>
                        <h5><span>Usuário</span>: {{user}}</h5>
                    </div>
                    <a href="{% url 'index' %}" class="button button-3d button-rounded button-blue"><i
                            class="icon-list"></i>Editais</a>
                    <a href="#" onclick="$('#modal_meus_dados').modal('show');"
                       class="button button-3d button-rounded button-blue"><i
                            class="icon-user2"></i>Meus Dados</a>
                    <a href="{% url 'logout' %}" class="button button-3d button-rounded button-blue"><i
                            class="icon-line-cross"></i>Sair</a>
                </div>
            </div>

            <div class="card-body" style="padding-top: 5px; padding-bottom: 5px;">
                {% for edital in editais %}
                <div class="edital content-wrap" onclick="window.location='/edital/inscricao?id={{edital.id}}';">
                    <div class="container clearfix">
                        <div class="card">
                            <div class="card-header">
                                Edital N° {{edital.codigo}}
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <span>Categoria:</span> {{edital.get_categoria}}
                                    <br>
                                    <span>Andamento:</span> {{edital.get_status}}
                                    <br>
                                    <span>Título:</span> {{edital.titulo}}
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
    </div>
</div>

{% if usuario.categoria_pessoa == '0' %}
{% include 'usuario/elementos/modalMeusDadosPessoaFisica.html' %}
{% else %}
{% include 'usuario/elementos/modalMeusDadosPessoaJuridica.html' %}
{% endif %}